body {
	margin: 0px;
	border: 0px;
	background-color: #650000;
}

h1 {
	font-family: sans-serif;
	color: #FFFFFF;
	text-align: center;
}

div.banner {
	background-color: #320000;

	width: 100%;

	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: 0.5cm;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

	text-align: center;
}

div#content {
	width: 19.65cm;
	margin: 0 auto;
}

div#finder {
	float: left;
	width: 6.35cm;
	height: 100%;

	font-family: sans-serif;
	font-size: 0.8em;
	text-align: left;
	color: #FFFFFF;
}

input#query {
	width: 100%;
}

ul#results {
	width: 100%;
	padding: 0;
	list-style-type: none;
}

li.result {
	height: 1.3cm;
	border: 1px solid #000000;
	cursor: hand;
	cursor: pointer;
    position: relative;
}

div.resultTitle {
	text-align: justify;
}

div.resultDuration {
	text-align: right;
    position: absolute;
	bottom: 0;
	right: 0;
}

div#player {
	margin-left: 6.85cm;
	margin-right: 0.5cm;
	width: 12.8cm;
	height: 8.9cm;
}

div#noVideo {
	width: 100%;
	height: 100%;
}

div#title {
	height: 0.6cm;

	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: right;
	color: #FFFFFF;
}

iframe#playerFrame {
	width: 12.8cm;
	height: 7.8cm;
}

div#playerFooter {
	width: 100%;
	height: 0.5cm;
	margin: 0 auto;

	font-family: sans-serif;
	font-size: 0.8em;
	text-align: left;
	color: #FFFFFF;
}

div#nextVideo {
	float: left;
	padding: 0;
	list-style-type: none;
}

div#skip {
	margin-left: 11.6cm;
	cursor: hand;
	cursor: pointer;
}